h1 {
    color: #1b1b3a;
    text-align: center;
    padding: 1.2rem;
}

.logo {
    width: 175px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1B1B3A;
    padding: 5px 20px 5px 70px;
}

.icon-nav-profile {
    color: #ffffff; 
    padding:12px; 
    cursor:pointer;
}

.image-banner {
    height: 33vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}

.profile-data-banner {
    display: flex;
    flex-direction: column;
    position: relative; 
    text-align: center;
}

.profile-data-banner h3{
    position: absolute;
    top: -97px;
    left: 50%;
    transform: translateX(-50%); /* Centrar el texto horizontalmente */
    color: white;
    font-weight: bold;
}

.profile-data-banner h4{
    position: absolute;
    top: -63px;
    left: 50%;
    transform: translateX(-50%);
    color: darkgrey;
    font-weight: bold;
}

.image-profile {
    position: absolute;
    border-radius: 50%;
    top: -220px;
    left: 50%;
    transform: translateX(-50%); 
    height: 110px;
    width: 110px;
    object-fit: cover; 
}

.main-content{
    display: flex;
    position: center;
    justify-content: center;
    padding-right: 250px;
    padding-left: 250px;
    padding-bottom: 20px;
}

.user-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-data p {
    padding: 1rem;
    font-size: 20px;
}

.menu-profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem 0rem 1.5rem 0rem;
}

.profile-data, .friends-data, .reservas-data {
    display: flex;
    flex-direction: row;
    padding-right: 5rem;
    cursor: pointer;
}

.profile-active .profile-data,
.friends-active .friends-data {
    display: block;
}

.profile-data h5.active {
    color: aqua;
}

/* Styles windows*/
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.profileContent {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-top: 1rem;
}

.title-description-profile, .title-hand-profile, .title-skill-profile, .title-position-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-description-profile i, .title-hand-profile i, .title-skill-profile i, .title-position-profile i {
    padding: 1rem 1rem 1rem 0;
}

.title-description-profile p, .title-hand-profile p, .title-skill-profile p, .title-position-profile p {
    color: #6457A6;
    font-size: 25px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 65px;
}

.buttons {
    border-radius: 15px;
    background-color: #6457A6;
    width: 230px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    color: white;
    border-color: white;
    border-style: none;
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin-top: 15px;
    margin-bottom: 15px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding-top: 15px;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    width: 30%;
}

.footer-section h3 {
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.social-icons {
    list-style-type: none;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons li a {
    color: #fff;
    font-size: 1.5em;
}

.footer-bottom {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
}

@media (max-width: 768px) {
    .footer-container {
        justify-content: center;
        margin-left: 20px;
    }
    
    .footer-section {
        width: 100%;
        margin-bottom: 20px;
    }
}