h1 {
    color: #1b1b3a;
    text-align: center;
    padding: 1.2rem;
}

.logo {
    width: 175px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1B1B3A;
    padding: 5px 20px 5px 70px;
}

.process{
    color: red;
    font-weight: bold;
    font-size: 18px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.test {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

label {
    width: 210px;
    color: #1b1b3a;
    font-size: 18px;
} 

.icon-nav-profile {
    color: #ffffff; 
    padding:12px; 
    cursor:pointer;
}

.checkbox {
    border-radius: 15px;
    background-color: #DF6C92;
    width: 220px;
    height: 42px;
    padding: 1rem;
    border-style: none;
    color: white;
    cursor: pointer;
} 

.submit {
    border-radius: 15px;
    background-color: #6457A6;
    width: 152px;
    height: 40px;
    margin: 1rem;
    color: white;
    border-color: white;
    border-style: none;
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
}

.footer {
    background-color: #333;
    color: #fff;
    padding-top: 15px;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    width: 30%;
}

.footer-section h3 {
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.social-icons {
    list-style-type: none;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons li a {
    color: #fff;
    font-size: 1.5em;
}

.footer-bottom {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
}

/* Media query para dispositivos más pequeños */
@media (max-width: 768px) {
    .test {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
    }

    label {
        align-items: center;
        width: auto;
        margin-bottom: 0.5rem;
        /* O cualquier otro ancho que desees */
    } 

    .footer-container {
        justify-content: center;
        margin-left: 20px;
    }
    
    .footer-section {
        width: 100%;
        margin-bottom: 20px;
    }
}

